<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <title>Credit Card Number Validator</title>
</head>
<body>
    <div id="'title-header">
        <h1>Credit Card Validator</h1>
    </div>
    <div id="card-image">
        <img src="{{url_for('static', filename='images/card-picture.png')}}" alt="Credit-card-image" width="200">
    </div>
    <form action="/" method="post">
        <div id="number-input">
            {{form.number}}
        </div>
        <div id="submit-button-id">
            <button type="submit">Validate</button>
        </div>
    </form> 
    <div id="instructions">
        <h3>Type in your card number and press the validate button to validate. <br>
            Keep in mind that no special characters or letters are allowed.
        </h3>
    </div>
</body>
</html>